html {
    background: #200045;
}
body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .03) 50%, rgba(0, 0, 0, .7) 100%);
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.neon {
    flex: 0 0 100%;
    padding: 2vw 0;
    margin: 0;
    color: transparent;
    text-align: center;
    z-index: 5;
    -webkit-user-select: none;
}
.neon:nth-of-type(1) {
    font: 9vw Warnes;
    text-shadow: 0 0 0.1vw #f3bcbc, 0 0 0.5vw #f12f21, 0 0 1.5vw #f00;
}
.neon:nth-of-type(2) {
    font: 15vw 'Hello Denver';
    text-transform: uppercase;
    text-shadow: 0 0 0.1vw #f7ceea, 0.5vw 0.5vw 0.5vw #e0018d, -0.5vw -0.5vw 0.5vw #e0018d, 0.5vw -0.5vw 0.5vw #e0018d, -0.5vw 0.5vw 0.5vw #e0018d, 0 -0.5vw 0.5vw #e0018d, 0 0.5vw 0.5vw #e0018d, 0.5vw 0.5vw 0.5vw #e0018d, 0 0 5vw #000;
    letter-spacing: 2vw;
}
.neon:nth-of-type(2) span {
    animation: Flicker 0.23s infinite;
}
.neon:nth-of-type(3) {
    font: 13vw 'Neon Lights', 'Hello Denver';
    text-transform: uppercase;
    text-shadow: 0 0 0.1vw #95b4da, 0 0 1vw #008eff;
}
.deco {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 27.5vw;
    z-index: 0;
}
.deco .line1 {
    box-sizing: border-box;
    border-radius: 1.5vw;
    box-shadow: 0 0 1vw 1.2vw #8700c5;
    height: 3vw;
    width: 90%;
    margin: 3vw auto;
    background: #7002ff;
    border: 1.3vw solid #7d17d1;
    position: relative;
}

.deco .line2 {
    box-sizing: border-box;
    border-radius: 1.5vw;
    box-shadow: 0 0 1vw 1.2vw #d41093;
    height: 3vw;
    width: 90%;
    margin: 3vw auto;
    background: #830973;
    border: 1.3vw solid #d112b1;
    position: relative;
}

.deco .line3 {
    box-sizing: border-box;
    border-radius: 1.5vw;
    box-shadow: 0 0 1vw 1.2vw #d80c49;
    height: 3vw;
    width: 90%;
    margin: 3vw auto;
    background: #b30c0c;
    border: 1.3vw solid #d11727;
    position: relative;
}

.deco .line4 {
    box-sizing: border-box;
    border-radius: 1.5vw;
    box-shadow: 0 0 1vw 1.2vw #0014c5;
    height: 3vw;
    width: 90%;
    margin: 3vw auto;
    background: #0a34f1;
    border: 1.3vw solid #1c29e0;
    position: relative;
}

.deco .line:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0.5vw;
    width: 100%;
    background: #6606c7;
    box-shadow: 0 0 0.2vw 0.2vw #acdab8;
    border-radius: 0.3vw;
}


@keyframes Flicker {
    60%, 80% {
        text-shadow: 0 0 0.1vw #dcd5da, 0.5vw 0.5vw 0.5vw rgba(224, 1, 141, 0.2), -0.5vw -0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0.5vw -0.5vw 0.5vw rgba(224, 1, 141, 0.2), -0.5vw 0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0 -0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0 0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0.5vw 0 0.5vw rgba(224, 1, 141, 0.2), 0 0 #fff;
   }
    70%, 100% {
        text-shadow: 0 0 0.1vw #ffeffa, 0.8vw 0.8vw 0.8vw rgba(224, 1, 141, 0.4), -0.8vw -0.8vw 0.8vw rgba(224, 1, 141, 0.4), 0.8vw -0.8vw 0.8vw rgba(224, 1, 141, 0.4), -0.8vw 0.8vw 0.5vw rgba(224, 1, 141, 0.4), 0 -0.8vw 0.5vw rgba(224, 1, 141, 0.4), 0 0.8vw 0.8vw rgba(224, 1, 141, 0.4);
   }
}
