body {
    background-color: rgb(32, 0, 69);
}

h1 {
    margin-bottom: 40px;
}

.my-box {
    min-height: 50vh;
    padding-left: 10vw;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

.btn-info {
    margin: 1vh;
}

.logout {
    text-decoration: none;
    color: white;
}

